.export-btn {
  width: 100%;
  padding: 14px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #3825cb, #6c5ce7);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(108,92,231,0.3);
  transition: all 0.3s ease;
  margin-top: 15px; /* เว้นระยะจากรายการอื่น */
}

.export-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(108,92,231,0.5);
}
